* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #06BBCC; /* Ajusta el color de fondo */
}

.image {
    height: 40px; /* Ajusta el tamaño de la imagen */
}

.logout-button {
    background-color: #0f0f0e; /* Ajusta el color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.admin-table-container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-table th, .admin-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.admin-table th {
    background-color: #0f0f0e;
    color: white;
    font-weight: bold;
}

.admin-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-button, .delete-button {
    padding: 8px 16px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.edit-button {
    background-color: green;
}

.delete-button {
    background-color: #f44336;
}

/*Boton de registrar*/
.register-button {
    margin-left: 200px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #06BBCC;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/*MODAL DE REGISTRO DE USUARIOS*/
/* Estilo para el fondo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    align-items: center;
    justify-content: center;
}

/* Contenedor del contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.3s ease-out;
}

/* Animación para mostrar el modal */
@keyframes slide-down {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Botón de cerrar */
.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

/* Labels y campos de entrada */
.modal-content label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #555;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botón de registro */
.save-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #06BBCC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/*boton editar*/
/* Estilo para el fondo del modal */
.modal1 {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    align-items: center;
    justify-content: center;
}

/* Contenedor del contenido del modal */
.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.3s ease-out;
}

/* Animación para mostrar el modal */
@keyframes slide-down {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Botón de cerrar */
.close-button1 {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

/* Labels y campos de entrada */
.modal-content1 label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #555;
}

.modal-content1 input[type="text"],
.modal-content1 input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botón de guardar cambios */
.save-button1 {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #06BBCC;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

