/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}



/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/* filtro del menu*/


.filter-menu {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
    flex-direction: initial;
    font-family: Arial, sans-serif;
    justify-content: center;
    /* Centers the content with space on both sides */
    flex-direction: row;
    /* Disposición horizontal por defecto */



}

.filter-btn {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

.filter-btn.active {
    background-color: #5a86fff6;
    color: white;
    border-radius: 5px;
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .filter-menu {
        flex-direction: column;
        /* Cambia a disposición vertical */
        gap: 10px;
        /* Reduce el espacio entre elementos */
    }
}

/* Pantallas medianas (tabletas y laptops pequeñas) */
@media (min-width: 600px) and (max-width: 1024px) {
    .filter-menu {
        flex-direction: row;
        /* Disposición horizontal */
        gap: 15px;
        /* Ajusta el espacio entre elementos */
    }
}

/* Pantallas grandes (laptops grandes y monitores) */
@media (min-width: 1024px) {
    .filter-menu {
        flex-direction: row;
        /* Mantiene disposición horizontal */
        gap: 20px;
        /* Espaciado amplio entre elementos */
    }
}

.athletes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;

}

.athlete-card {
    width: 250px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 15px; /* Ajusta el valor para hacer el borde más o menos redondeado */
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto de escala y sombra en el hover */
.athlete-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo de la imagen de fondo */
.athlete-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;

}

/* Estilo del nombre como enlace */
.athlete-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Cambia el color del enlace al pasar el mouse */
.athlete-name:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.athlete-details {
    padding: 15px;
}

@media (max-width: 768px) {
    .athletes {
        gap: 10px;
        /* Reduce el espacio entre elementos en pantallas pequeñas */
        width: 100%;
        /* Ocupa todo el ancho en pantallas pequeñas */
    }
}

/* Estilos para pantallas medianas (tabletas y laptops pequeñas) */
@media (min-width: 768px) and (max-width: 1024px) {
    .athletes {
        gap: 15px;
        /* Reduce ligeramente el espacio entre elementos */
        width: 80%;
        /* Ocupa un poco menos del ancho en pantallas medianas */
    }
}

/* Estilos para pantallas grandes (laptops grandes y monitores) */
@media (min-width: 1024px) {
    .athletes {
        gap: 20px;
        /* Mantiene un buen espacio entre los elementos */
        width: 90%;
        /* Usa casi todo el ancho del contenedor */
        max-width: 1200px;
        /* Limita el ancho máximo */
    }

    .tags {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .tag {
        background-color: #dfe8f2;
        color: #1d72b8;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: bold;
    }

    .country {
        color: #555;
        font-size: 16px;
        margin: 0;
    }

    /*** Header carousel ***/
    @media (max-width: 768px) {
        .header-carousel .owl-carousel-item {
            position: relative;
            min-height: 500px;
        }

        .header-carousel .owl-carousel-item img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .header-carousel .owl-nav {
        position: absolute;
        top: 50%;
        right: 8%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
    }

    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin: 7px 0;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background: transparent;
        border: 1px solid #FFFFFF;
        font-size: 22px;
        transition: .5s;
    }

    .header-carousel .owl-nav .owl-prev:hover,
    .header-carousel .owl-nav .owl-next:hover {
        background: var(--primary);
        border-color: var(--primary);
    }

    .page-header {
        background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .page-header-inner {
        background: rgba(15, 23, 43, .7);
    }

    .breadcrumb-item+.breadcrumb-item::before {
        color: var(--light);
    }


 


    /*** Section Title ***/
    .section-title {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
    }

    .section-title::before {
        position: absolute;
        content: "";
        width: calc(100% + 80px);
        height: 2px;
        top: 4px;
        left: -40px;
        background: var(--primary);
        z-index: -1;
    }

    .section-title::after {
        position: absolute;
        content: "";
        width: calc(100% + 120px);
        height: 2px;
        bottom: 5px;
        left: -60px;
        background: var(--primary);
        z-index: -1;
    }

    .section-title.text-start::before {
        width: calc(100% + 40px);
        left: 0;
    }

    .section-title.text-start::after {
        width: calc(100% + 60px);
        left: 0;
    }


    /*** Service ***/
    .service-item {
        background: var(--light);
        transition: .5s;
    }

    .service-item:hover {
        margin-top: -10px;
        background: var(--primary);
    }

    .service-item * {
        transition: .5s;
    }

    .service-item:hover * {
        color: var(--light) !important;
    }


    /*** Categories & Courses ***/
    .category img,
    .course-item img {
        transition: .5s;
    }

    .category a:hover img,
    .course-item:hover img {
        transform: scale(1.1);
    }




    /*** Testimonial ***/
    .testimonial-carousel::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
    }

    .testimonial-carousel::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
    }

    @media (min-width: 768px) {

        .testimonial-carousel::before,
        .testimonial-carousel::after {
            width: 200px;
        }
    }

    @media (min-width: 992px) {

        .testimonial-carousel::before,
        .testimonial-carousel::after {
            width: 300px;
        }
    }

    .testimonial-carousel .owl-item .testimonial-text,
    .testimonial-carousel .owl-item.center .testimonial-text * {
        transition: .5s;
    }

    .testimonial-carousel .owl-item.center .testimonial-text {
        background: var(--primary) !important;
    }

    .testimonial-carousel .owl-item.center .testimonial-text * {
        color: #FFFFFF !important;
    }

    .testimonial-carousel .owl-dots {
        margin-top: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .testimonial-carousel .owl-dot {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        border: 1px solid #CCCCCC;
        transition: .5s;
    }

    .testimonial-carousel .owl-dot.active {
        background: var(--primary);
        border-color: var(--primary);
    }

    /* Estilos para la división */
    .mi-division {
        width: 100%;
        height: 400px;
        background-color: #f0f0f0;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
    }


    /*** Footer ***/
    .footer .btn.btn-social {
        margin-right: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light);
        font-weight: normal;
        border: 1px solid #FFFFFF;
        border-radius: 35px;
        transition: .3s;
    }

    .footer .btn.btn-social:hover {
        color: var(--primary);
    }

    .footer .btn.btn-link {
        display: block;
        margin-bottom: 5px;
        padding: 0;
        text-align: left;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: normal;
        text-transform: capitalize;
        transition: .3s;
    }
    

    .footer .btn.btn-link::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }
    

    .footer .btn.btn-link:hover {
        letter-spacing: 1px;
        box-shadow: none;
    }

    .footer .copyright {
        padding: 25px 0;
        font-size: 15px;
        border-top: 1px solid rgba(256, 256, 256, .1);
    }

    .footer .copyright a {
        color: var(--light);
    }

    .footer .footer-menu a {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid rgba(255, 255, 255, .1);
    }

    .footer .footer-menu a:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }




    

    /* Contenedor del perfil */
    .perfil-container {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    /* Imagen de perfil */
    .perfil-imagen-container {
        position: relative;
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 50%;
        transition: transform 0.3s;
    }
    .perfil-imagen-container img {
        width: 120%; /* Imagen 20% más grande */
        height: auto;
    }

    /* Botón de cámara sobre la imagen */
    .modificar-foto {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #06BBCC;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    /* Sección de información de perfil */
    .perfil-info {
        display: flex;
        flex-direction: column;
    }

    .perfil-info h2 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }

    /* Botón de modificar información */
    .modificar-informacion {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #06BBCC;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: auto;
        
    }

    .modificar-informacion i {
        font-size: 18px;
    }


    .rounded-circle {
        width: 150px;
        height: 150px; 
        object-fit: cover; 
        margin-bottom: 20px;

    }

    .owl-carousel-item {
        position: relative;
    }
    
    .btn-subir-foto {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #06BBCC;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        opacity: 0.9;
        transition: opacity 0.3s, transform 0.3s;
    }
    
    .btn-subir-foto:hover {
        opacity: 1;
        transform: scale(1.05);
    }

    .btn-social {
        background-color: #06BBCC; /* Fondo azul */
        color: white; /* Iconos blancos */
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; /* Forma circular */
        transition: background-color 0.3s, transform 0.3s; /* Efecto suave */
        margin-right: 10px; /* Separación entre botones */
    }
    
    .btn-social:hover {
        background-color: #06BBCC; /* Azul más oscuro en hover */
        transform: scale(1.1); /* Ligero aumento en hover */
    }
    
    .btn-social i {
        font-size: 18px; /* Tamaño del icono */
    }

    /*Estilos de la ventana emergente*/
    /* Estilo del botón para abrir la ventana emergente */
.open-popup-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #06BBCC;
    color: white;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2; /* Asegura que esté por encima de la ventana emergente */
}

/* Estilo de la ventana emergente */
.popup {
    position: fixed;
    top: 50%; /* Centra la ventana verticalmente */
    left: 50%; /* Centra la ventana horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la ventana para que esté centrada */
    width: 350px;
    background-color: #f0f0f0; /* Fondo gris claro */
    display: none; /* Inicialmente oculta */
    z-index: 1;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra para mayor efecto */
    padding: 20px;
    text-align: center;
    color: #333; /* Color de texto oscuro para mejor contraste con el fondo claro */
    font-family: Arial, sans-serif;
}

/* Contenido de la ventana emergente */
.popup-content {
    padding: 20px;
    box-sizing: border-box;
}

/* Cabecera de la ventana emergente: Icono y Título */
.popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.popup-header i {
    color: #06BBCC; /* Color del icono */
}

.popup-header h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

/* Botón de cierre de la ventana emergente */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #333; /* Color oscuro para el botón de cierre */
    cursor: pointer;
}

/* Botón dentro de la ventana emergente */
.popup-btn {
    padding: 10px 20px;
    background-color: #06BBCC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-btn:hover {
    background-color: #06BBCC;
}

/* Estilo general para el contenedor de patrocinadores */
.patrocinadores-container {
    text-align: center;
    padding: 30px 0;
    background-color: #f9f9f9;
}

/* Título de los patrocinadores */
.patrocinadores-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Contenedor de los logos de los patrocinadores */
.patrocinadores {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espacio entre los patrocinadores */
}

/* Estilo de cada patrocinador */
.patrocinador {
    text-align: center;
}

/* Estilo para las imágenes de los logos */
.patrocinador img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

/* Estilo para los nombres de los patrocinadores */
.patrocinador p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}





}